{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/stylesheets/messageTracker.css">
{% endblock %}

{% block content %}

{% include "loader.html" %}

<div ng-controller="trackerController">

    <div class="data-table z-depth-3 card-panel hoverable">
            <div class="filter-loading">
                <div class="indeterminate"></div>
            </div>
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">search</i>
                <input id="Search" type="text" class="validate" ng-model="searchQuery">
                <label for="Search">Search</label>
            </div>

            {#<div class="col s2">
                <input id="vendor" type="radio" value="1" ng-model="filter.type" name="type">
                <label for="vendor">Vendor</label>
                &nbsp;
                &nbsp;
                &nbsp;


                <input id="client" type="radio" value="2" ng-model="filter.type" name="type">
                <label for="client">Client</label>
                
                    
            </div>
            <div class="col s7">
                <button class="btn waves-effect waves-light" ng-click="applyFilter()">Apply</button>
                    
            </div>#}
                    
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        
        <br>
        <br>
        <table class="bordered striped">
            <thead>
                <tr>
                    <th>Messsage(sent)</th>
                    <th>Send to(groups)</th>
                    <th>Date time</th>
                    <th>Group message</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in trackingData | filter : searchQuery">
                    <td class="tracking-msg " >
                        <div class="msg-summary" ng-class="{show: show}" style="white-space: pre;">
                      {[data.sent_message]}
                        </div>
                    <a class="pointer" ng-click="show = !show">{[!show ? "show more &#9660;" : "show less &#9650;"]}</a>
                    </td>
                    <td class="tracking-send_to">
                        
                        <ol>
                            <li ng-repeat="channel in data.channel">{[channel.name]}</li>
                        </ol>
                        
                    </td>
                    <td class="whatsapp-message21">{[data.datetime]}</td>
                    
                    <td class="whatsapp-email12" >
                        <div class="">
                            <ul>
                                <li ng-repeat="messageData in data.raw_msgs" class=""><p><a href="#modal1" class="modal-trigger truncate group-msg-container" ng-click="agentData(messageData)">{[messageData.altered_msg]}</a></p></li>
                            </ul>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5 style="white-space: pre" class="center-align">{[alterMessageData.altered_msg]}</h5>
            <table>
                    <tr>
                        <td>channel</td>
                        <td>{[alterMessageData.channel]}</td>
                    </tr>
                    <tr>
                        <td>datetime</td>
                        <td>{[alterMessageData.datetime]}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{[alterMessageData.email]}</td>
                    </tr>
                    <tr>
                        <td>phone no</td>
                        <td>{[alterMessageData.phone_no]}</td>
                    </tr>
                    <tr>
                        <td>sender</td>
                        <td>{[alterMessageData.sender]}</td>
                    </tr>
                    <tr>
                        <td>website</td>
                        <td>{[alterMessageData.website]}</td>
                    </tr>
            </table>

        </div>
    </div>


</div>
{% endblock %}
{% block foot %}

{{super()}}
<h1>Akshay</h1>

{% endblock %}
{% block footJs %}
<script src="/static/javascripts/messageTracker.js" ></script>


{% endblock %}