{% extends "layout.html" %}
{% block title %}
Messages
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/static/stylesheets/sendMessage.css">
{% endblock %}

{% block content %}

{% include "loader.html" %}

<div ng-controller="senderMessageController">

    <div class="data-table z-depth-3 card-panel hoverable">
        <div class="row">
            <div class="col s6">
                <div class="container">
                    <div class="channels-list row">
                        <div class="col s4 " ng-repeat="channel in channelData">
                            <input type="checkbox" id="{[channel.id]}" checklist-model="select.channels" checklist-value="channel">
                            <div class="channel-details">
                                <label for="{[channel.id]}">
                                    <div class="col s1">
                                        <i class="material-icons " ng-show="channel.group">group</i>
                                        <i class="material-icons " ng-hide="channel.group">person_outline</i>
                                    </div>
                                    <span class="col s9 truncate ">
                                        <div>{[channel.name]}</div>

                                        <small ng-show="channel.number">({[channel.number]})</small>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col s6">

                <h6>Choose Sender :</h6>
                <div>
                    <div class="col s4" ng-repeat="sender in senderData" >
                        <p class="inline-display">
                            <input type="radio" id="{['sender'+sender.id]}" ng-model="senderId.id" value="{[sender.id]}" name = "sender">
                            
                                <label for="{['sender'+sender.id]}">
                                    <i class="material-icons">person_outline</i>
                                    <div>{[sender.name]}</div>
                                    <small>({[sender.number]})</small>
                                    
                                </label>
                            
                        </p>
                    </div>
                </div>

                <h6 style="margin-top:150px">Choose Category :</h6>
                <div>
                    <div class="col s4" ng-repeat="(key , value) in CATEGORY" >
                        <p class="inline-display">
                            <input type="radio" id="{['category'+value]}" ng-model="select.category" value="{[key]}" name="category">
                            
                            <label for="{['category'+value]}">
                                    {[value]}
                               
                            </label>
                            
                        </p>
                    </div>
                </div>

                <h6>Message Type</h6>
                <div class = "row">
                    <p class="inline-display col s6">
                        <input type="radio" id="supply" ng-model="select.type" value="1" name="msgType">
                            <label for="supply">Supply</label>
                    </p>
                    
                    <p class="inline-display col s6">
                        <input type="radio" id="Demand" ng-model="select.type" value="2" name="msgType">
                        <label for="Demand">Demand</label>
                    </p>
                        
                    
                </div>






                <div>
                    <div class="input-field">
                        <textarea id="message_content" class="materialize-textarea" ng-model="select.text"></textarea>
                        <label for="message_content">Message</label>
                        
                    </div>
                    <div  class="center-align">
                            <div class="input-field col s6">
                            

                                <input input-date
                                type="text"
                                name="created"
                                id="Datepicker"
                                ng-model="currentTime"
                                container=""
                                format="dd/mm/yyyy"
                                months-full="{{ month }}"
                                months-short="{{ monthShort }}"
                                weekdays-full="{{ weekdaysFull }}"
                                weekdays-short="{{ weekdaysShort }}"
                                weekdays-letter="{{ weekdaysLetter }}"
                                disable="disable"
                                
                                today="today"
                                first-day="1"
                                clear="clear"
                                close="close"
                                select-years="15"

                                class=""
                                />
                                <label for="Datepicker">Date</label>

                            </div>
                            <div class="input-field col s6">
                                <input class="" id="Timepicker" input-clock data-twelvehour="false" type="text" ng-model="time">
                                <label for="Timepicker">Time</label>
                            </div>

                        <button class="btn-floating waves-effect waves-light" ng-click="sendMessage()">
                                <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>


</div>
{% endblock %}
{% block foot %}

{{super()}}

{% endblock %}
{% block footJs %}
<script src="/static/javascripts/sendMessage.js" ></script>

{% endblock %}