{% include "/includes/head.html" %}
<title>{% block title %}{% endblock %} - DBMS </title>

{% block css %}{% endblock %}
</head>
<body>
    <div class="content" >
        <div class="background">
            <div class="background-head teal lighten-2">
                {#<a href="/whatsapp" class="btn-flat waves-effect waves-teal">Whatsapp</a>
                <a href="/trac" class="btn-flat waves-effect waves-teal">Whatsapp</a>
                <a href="/whatsapp" class="btn-flat waves-effect waves-teal">Whatsapp</a>#}
            </div>
        </div>
    {% block content %}
    {% endblock %}
    </div>

<footer>
    <script>
       var path =  window.location.pathname;
       $(".nav-ul > li").each(function(){
           if($(this).hasClass("active")){
               $(this).removeClass("active")
           }
           if(path == $(this).children().attr("href")){
               $(this).addClass("active");

           }

       });

    </script>
    {% block footJs %}{% endblock %}    
    <!-- {% include "/includes/foot.html" %} -->